> <a class="anchor" id="welcome"></a> 
 <img src="https://i.ibb.co/84K2kmv/task2.png" alt="Drawing"  style="width: 600px;"/><br />
> <b> <span style="font-size: 400%"> <span style='font-family:Helvetica'> Bookstore Dataset</b>
>  <br />
> <img src="https://cdn.dribbble.com/users/500242/screenshots/1755185/swed-dribbble.gif" alt="Drawing" style="width: 396px;"/> <br />
> <br />
> <span style='font-family:Verdana '> Msc in Business Analytics @ AEUB  <br />
>  <span style='font-family:Verdana '> Big Data Systems and Architectures - PT  <br />
>  <span style='font-family:Verdana '> Professor: Thanasis Vergoulis <br />
>  <span style='font-family:Verdana '> Student: Despotis Spyridon  <br />
>  <span style='font-family:Verdana '> Student ID: P2822111 <br />

***

> <img src="https://i.ibb.co/0rTP5XM/table-of-contents.png" alt="Drawing" style="width: 480px;"/> <br />
> * [Task1](#question1) <br />
> * [Task2](#question2) <br />
> * [Task3](#question3) <br />
***

> <b> <span style="font-size: 200%"> <span style='font-family:Helvetica'>  We begin with importing the required packages</b>

In [55]:
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("task2").getOrCreate()
books = spark.read.json("books_5000.json")

<a class="anchor" id="question1"></a> 
</b>
<b> <span style="font-size: 200%"> <span style='font-family:Helvetica'>Task 1</b> 
</b>

* It returns the “book_id” and “title” of the book with the largest “average_rating” that its title starts with the first letter of my last name. 
* We select the 'book_id','title','average_rating' columns
* In 'title' column we look for the identical match of the name letter (D)
* We collect the identical titles into groups by using groupby function
* We add columns with aggregations, "first" and we also put allias the correct names
* Finally we arrange them in descending order and wedisplay (limit) the first row only

In [56]:
query1 = (books.select("book_id", "title", "average_rating") 
          .where(col('title').like("D%"))
          .groupby("book_id")
          .agg(first("average_rating").alias("average_rating"),first("title").alias("title"))
          .orderBy('average_rating', ascending=False)
          .limit(1))
query1.show()

+--------+--------------+--------------------+
| book_id|average_rating|               title|
+--------+--------------+--------------------+
|26025238|          5.00|Dungeon Fun (Dung...|
+--------+--------------+--------------------+

<a class="anchor" id="question2"></a> 
</b>
<b> <span style="font-size: 200%"> <span style='font-family:Helvetica'>Task 2</b> 
</b>

* It returns the average “average_rating” of the books that their title starts with the second letter of my last name. 
* We select the 'book_id','title','average_rating' columns
* In 'title' column we look for the identical match of the E letter
* We collect the identical titles into groups by using groupby function in book_id column
* Then we aggregate the average rating for all books that we grouped

In [60]:
query_grouped = (books.select("book_id", "title", "average_rating")
          .where(col('title').like("E%"))
          .groupby("book_id")
          .agg(first("title").alias("title"),first("average_rating").alias("average_rating")))
from pyspark.sql import functions as F
averaeg = query_grouped.agg(F.avg(F.col('average_rating')).alias('avg_rating'))
averaeg.show()

+------------------+
|        avg_rating|
+------------------+
|3.9165289256198355|
+------------------+

In [61]:
# Alternative method
query_grouped.describe("average_rating").show()

+-------+-------------------+
|summary|     average_rating|
+-------+-------------------+
|  count|                121|
|   mean| 3.9165289256198355|
| stddev|0.37410050063185263|
|    min|               2.92|
|    max|               4.83|
+-------+-------------------+

<a class="anchor" id="question3"></a> 
</b>
<b> <span style="font-size: 200%"> <span style='font-family:Helvetica'>Task 3</b> 
</b>

* It returns the “book_id” and “title” of the Paperback book with the most pages, when only books with title starting with the *third* letter of your last name are considered. 
* Firstly it converts the num_page column to integer in order to be sorted later
* Then we select the 'book_id','title','num_pages' columns
* In 'title' column we look for the identical match of the name letter S
* We filter the e-books only
* We collect the identical title into groups by using groupby function
* We call 'num_pages' and titles to appear allong book id column
* We arrange num pages in descending order and display only the 1st row

In [62]:
books = books.withColumn("num_pages", books["num_pages"].cast('int'))
query3 = (books.select("book_id", "title", "num_pages")
          .where(col('title').like("S%"))
          .filter("is_ebook == 'false'")
          .groupby("book_id")
          .agg(first("num_pages").alias("num_pages"),first("title").alias("title"))
          .sort("num_pages", ascending=False)
          .limit(1)
         )
query3.show()

+--------+---------+--------------------+
| book_id|num_pages|               title|
+--------+---------+--------------------+
|20176462|      784|Samurai Execution...|
+--------+---------+--------------------+

***

[Scroll To Top ^](#welcome) <img style="float: right;" src="https://i.ibb.co/w7Lbd0X/2-AUEB-white-HR.jpg"  alt="aueb" width="550px"/>